:root {
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --accent-color: #3470FF;
  --accent-hover-color: #0B44CD;

  --primary-black-color: #121417;
  --secondary-black-color: #363535;

  --primary-white-color: #ffffff;

  --primary-grey-color: #8A8A89;
  --alternative-grey-corol: rgb(18, 20, 23);
  --secondary-grey-color: #F7F7FB;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--primary-white-color);
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  } */
}

/* div {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
} */

html {
  min-width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: inline-block;
}

input {

  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {

  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--primary-black-color);
  box-shadow: inset 0 0 20px 20px var(--secondary-grey-color);
  font-family: 'Manrope', sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

/* ::-webkit-scrollbar {
  width: 24px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  height: 66px;
  background: rgba(18, 20, 23, 0.1);
  border-radius: 9999px;
  border: 8px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(18, 20, 23, 0.2);
  border-radius: 9999px;
  border: 8px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
} */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  height: 66px;
  background: rgba(18, 20, 23, 0.1);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
  border-radius: 9999px;

}